<nav class="navbar">
  <ul>
    <li><%= link_to 'Home', root_path, :class => 'navbar-link'  %></li>
    <li><%= link_to 'About', about_path, :class => 'navbar-link'  %></li>
    <% if user_signed_in? %>
      <li><%= link_to 'Links', links_path, :class => 'navbar-link'  %></li>
      <div class="d-flex">
        <li>
          <%= link_to(edit_user_registration_path, class: 'navbar-link btn btn-secondary') do %>
            <i class="bi bi-gear"></i> Edit Profile
          <% end %>
        </li>
        <li>
        <%= button_to "Logout", destroy_user_session_path, method: :delete, :class => 'btn navbar-link btn btn-primary mx-3' %>
        </li>
      </div>
    </div>
    <% else %>
    <div class="d-flex">
      <li><%= link_to 'Sign In', new_user_session_path, :class => 'navbar-link btn btn-primary mx-3'  %></li>
      <li><%= link_to 'Sign Up', new_user_registration_path, :class => 'navbar-link btn btn-secondary'  %></li>
    </div>
    <% end %> 
  </ul>
</nav>
