<div id="<%= dom_id link %>">
  <p>
    <strong>Name:</strong>
    <%= link.name %>
  </p>

  <p>
    <strong>Slug:</strong>
    <%= link.slug %>
  </p>

  <p>
    <strong>Expiration date:</strong>
    <%= link.expiration_date %>
  </p>

  <p>
    <strong>Password:</strong>
    <%= link.password %>
  </p>

  <p>
    <strong>Accessed:</strong>
    <%= link.accessed %>
  </p>

</div>
