<div class="w-100 container">
  <div>
      <h2>Links</h2>
      <%= link_to "New link", new_link_path, class: "btn btn-success my-2" %> 
  </div>
  <table class="table table-hover">
    <thead>
      <tr class="table-secondary">
        <th>Original URL</th>
        <th>Category</th>
        <th>Shortened URL</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @links.each do |link| %>
        <tr>
          <td><a href=""><%= link.url %></a></td>
          <td><%= link.link_type %></td>
          <td>
            <%= link_to redirect_original_url_url(link.slug) ,redirect_original_url_url(link.slug)%>
          </td>
          <td class="d-flex">
            <%# Show button %>
            <%= link_to(link, class: 'btn btn-primary mr-1') do %>
              <i class="bi bi-zoom-in"></i> Show
            <% end %>
            <%# Edit button %>
            <%= link_to(edit_link_path(link), class: 'btn btn-secondary mx-1') do %>
              <i class="bi bi-pen"></i> Edit
            <% end %>
            <%# Delete button %>
            <%= button_to link, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" do %>
              <i class="bi bi-trash"></i>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div class="text-center">
    <%= will_paginate @link, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
  </div> 
</div>

