<div class="container d-flex flex-column w-25 ">
<h5>To access to the link, please enter password </h5>
<%= form_tag(private_link_authentication_path(params[:slug]), method: :post, class: "mt-4") do %>
  <div class="form-group mb-3">
    <% if flash[:alert].present? %>
      <div class="alert alert-danger" role="alert">
        <%= flash[:alert] %>
      </div>
   <% end %>
    <%= label_tag(:password, "Link password:") %>
    <%= password_field_tag(:password, nil, class: "form-control") %>
  </div>
  <%= submit_tag('Accept', class: 'btn btn-success') %>
<% end %>
</div>
