<div class="container">
  <h1 class="mb-4">Link visits</h1>

  <%= search_form_for @q, url: visit_detail_link_path, html: { class: 'mb-4' } do |f| %>
    <div class="row g-3">
      <div class="col-md-4">
        <%= f.label :ip_address_cont, 'Filter by IP Address:', class: 'form-label' %>
        <%= f.search_field :ip_address_cont, class: 'form-control' %>
      </div>

      <div class="col-md-4">
        <%= f.label :access_date_gteq, 'Filter from date:', class: 'form-label' %>
        <%= f.datetime_local_field :access_date_gteq, class: 'form-control' %>
      </div>

      <div class="col-md-4">
        <%= f.label :access_date_lteq, 'Filter until date:', class: 'form-label' %>
        <%= f.datetime_local_field :access_date_lteq, class: 'form-control' %>
      </div>

      <div class="col-12">
        <%= f.submit 'Filter', class: 'btn btn-primary' %>
      </div>
    </div>
  <% end %>

  <div class="table-responsive">
    <table class="table table-striped mt-4">
      <thead>
        <tr class="table-secondary">
          <th scope="col">Datetime</th>
          <th scope="col">IP Address</th>
          <!-- Add other columns as needed -->
        </tr>
      </thead>
      <tbody>
        <% if @visits_paginated.present? %>
          <% @visits_paginated.each do |visit| %>
            <tr>
              <td><%= visit.access_date.strftime("%Y-%m-%d -- %H:%M:%S ") %></td>
              <td><%= visit.ip_address %></td>
              <!-- Add other columns as needed -->
            </tr>
          <% end %>
        <% else %>
          <tr>
            <td colspan="2">No results found</td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="text-center">
    <%= will_paginate @visits_paginated, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
  </div>
</div>
